#sidebarTitle{
	font-family: Poppins;
	font-size:14px;
	margin-bottom:30px;
	color: #222b45;
}

#sidebarTitle2{
	font-family:Poppins;
	font-size:14px;
	margin-bottom:30px;
	color: #222b45;
	font-weight: bold;
}	

.categories-list{
	font-family: Poppins;
	margin-bottom: 30px;
}
.dot{
	min-height:30px;	
	min-width:30px;
	background-color:#bbb;
	border-radius: 50%;
	display: inline-block;
	float:left;
	margin-right: 10px;
}

a{
	color:#222B45;
}
h4{
	font-size:14px;
	display: flex;
	align-items:center;
}
