.homepage-header {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  align-items: center;
  text-align: center;

  color: #000000;
}

.homepage-content {
  width: 100%;
    /* Firefox */
    display: -moz-box;
    -moz-box-pack: center;
    -moz-box-align: center;
    /* Safari and Chrome */
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    /* W3C */
    display: box;
    box-pack: center;
    box-align: center;
}

.recent-posts {
  width: 48%;
  float: left;

  background: #FFFFFF;
  border-radius: 10px;
}

.top-threads {
  width: 48%;
  float: right;

  background: #FFFFFF;
  border-radius: 10px;
}
