.topic_header{
  display:flex;
  width:100%;
  align-items: center;
}

.avatar{
  display:flex !important;

  width:32px !important;
  height:32px !important;
  line-height:32px !important;
  font-size: 15px;

  align-items: center;
  justify-content: center;

}

.fa-stack{
  border-radius: 50%;
  width:30px;
  height:30px;
  line-height:30px;
  padding-right: 15px;
}

.topic_header_1{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
