.topic_container{
  border-radius: 20px;
  border: 1px solid #8F9BB3;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 20px;
}

.topic_header{
  display:flex;
  width:100%;
  align-items: center;
  font-family: Poppins
}

#avatar_topic, #avatar_teaser{
  display:flex !important;

  width:32px !important;
  height:32px !important;
  line-height:32px !important;
  font-size: 15px !important;

  align-items: center;
  justify-content: center;

  overflow: visible !important;
}

.mainpost_content{
  margin-top: 20px;
  font-size: 14px;
  font-family: Roboto Slab;
  color: #2E3A59;
}

#topic_title{
  margin-top: 22px;
  font-size: 24px;
  font-weight: 600;
  font-family: Poppins;
}

#topic_category{
  font-weight: 600;
  font-size: 14px;
  font-family: Poppins;
}

.topic_header_text{
  font-size:14px;
  color: #2E3A59;
}

#topic_username{
  font-weight:600;
}

#topic_timeago{
  color: #8F9BB3;
  font-family: Roboto Slab;
}

.fa-stack{
  border-radius: 50%;
  width:30px !important;
  height:30px !important;
  line-height:30px !important;
  padding-right: 15px;
  margin-right: 5px;
}

.topic_header_1{
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-left: 12px;
}

.stats {
  font-size:14px;
  display:flex;
  font-family: Roboto Slab;
}

.footer_detail_count{
  margin-right: 5px;
}

.postlinestop{
  color:#E4E9F2;
  margin-bottom:0px;
}

.postlinesbottom{
  color:#E4E9F2;
  margin-top: 6px;
}

.topanswers{
  width:100%;
  text-align: left;
  font-family: Poppins;
  color:#9387D3;
  font-weight: 600;
  margin-bottom: 30px;
}

.card{
  margin-left: 10px;
  font-family: Roboto Slab;
}

#teaser_header{
  margin-bottom: 15px;
}

.teaser_header_text{
  margin-left: 10px;
}

.teaserlinetop1{
  margin-bottom: 20px;
}

.teaserlinebottom{
  margin-top: 15px;
}

.post-content{
  margin-left: 30px;
  font-size: 14px;
  color: #2E3A59;
  font-family: Roboto Slab;
}

#footer_reply{
  color:#FC913A;
  font-family: Poppins;
  font-weight: 600;
}

.topic_header_topics{
  margin-bottom: 30px;
  justify-content: space-between;
}

.category_topic{
  width:100px;
}

.title_topic{
  margin:0 !important;
}

.content{
  font-family: Roboto Slab;
  font-size: 14px;
}

.post_icon{
  .avatar{
    width:32px;
    height:32px;
    font-size:1.5rem;
    line-height: 32px;
  }
}
